
<div class="masthead bg-primary text-white d-flex  justify-content-center align-items-center text-center  vh-100 p-5">

  <div class=" container  d-flex justify-content-center align-items-center  text-center ">

     <div >

        <img src="assets/img/avataaars.png" class="w-75 pb-3" alt="">
        <h1 class="text-uppercase mb-0">Start Angular</h1>

        <div class="py-md-3  position-relative">
          <span class="Starline  bg-white top-50 w-25"></span>
          <i class="fa-solid fa-star"></i>
          <span class="Starline2 bg-white top-50 w-25"></span>
        </div>

        <p class=" ps-lg-4 mb-0 ">Graphic Artist - Web Designer - Illustrator</p>

     </div>
 </div>

</div>
