<section class="page-section portfolio" id="portfolio">
  <div class="container">
      <!-- Portfolio Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
          <div class="divider-custom-line me-3"></div>
          <i class="fa-solid fa-star divider-custom-icon"></i>
          <div class="divider-custom-line ms-3"></div>
      </div>
      <!-- Portfolio Grid Items-->
      <div class="row justify-content-center">
          <!-- Portfolio Item 1-->
          <div class="col-md-6 col-lg-4 mb-5">
              <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white">
                       <i class="fas fa-plus fa-3x"></i></div>
                       </div>
                  <img class="img-fluid" src="assets/img/portfolio/cabin.png" alt="">
              </div>

<!-- Modal -->
<div class="modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close " data-bs-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="container d-flex justify-content-center align-items-center flex-column ">
          <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">LOG CABIN</h2>
          <!-- Icon Divider-->
          <div class="divider-custom">
              <div class="divider-custom-line me-3"></div>
              <i class="fa-solid fa-star divider-custom-icon"></i>
              <div class="divider-custom-line ms-3"></div>
          </div>
          <div class="w-80  d-flex align-items-center justify-content-center">
        <div class="portfolio-item-caption h-100 w-75">
         <img class="w-100" src="assets/img/portfolio/cabin.png" alt="">
         <p class=" my-5 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil,
          molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
        </div>
      </div>
      </div>
      <div class="modal-footer d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-primary1" data-bs-dismiss="modal">
          <i class="fas fa-times fa-fw"></i>
          Close Window
        </button>
      </div>
    </div>
  </div>
</div>
</div>
          </div>
          <!-- Portfolio Item 2-->
          <div class="col-md-6 col-lg-4 mb-5">
              <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white">
                        <i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="assets/img/portfolio/cake.png" alt="">
              </div>

              <div class="modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close " data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="container d-flex justify-content-center align-items-center flex-column ">
                        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">TASTY CAKE</h2>
                        <!-- Icon Divider-->
                        <div class="divider-custom">
                            <div class="divider-custom-line me-3"></div>
                            <i class="fa-solid fa-star divider-custom-icon"></i>
                            <div class="divider-custom-line ms-3"></div>
                        </div>
                        <div class="w-80  d-flex align-items-center justify-content-center">
                      <div class="portfolio-item-caption h-100 w-75">
                       <img class="w-100" src="assets/img/portfolio/cake.png" alt="">
                       <p class=" my-5 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil,
                        molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                      </div>
                    </div>
                    </div>
                    <div class="modal-footer d-flex align-items-center justify-content-center">
                      <button type="button" class="btn btn-primary1" data-bs-dismiss="modal">
                        <i class="fas fa-times fa-fw"></i>
                        Close Window
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              </div>
          </div>
          <!-- Portfolio Item 3-->
          <div class="col-md-6 col-lg-4 mb-5">
              <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white">
                        <i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="assets/img/portfolio/circus.png" alt="">
              </div>
              <!-- module -->
              <div class="modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close " data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="container d-flex justify-content-center align-items-center flex-column ">
                        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">CIRCUS TENT</h2>
                        <!-- Icon Divider-->
                        <div class="divider-custom">
                            <div class="divider-custom-line me-3"></div>
                            <i class="fa-solid fa-star divider-custom-icon"></i>
                            <div class="divider-custom-line ms-3"></div>
                        </div>
                        <div class="w-80  d-flex align-items-center justify-content-center">
                      <div class="portfolio-item-caption h-100 w-75">
                       <img class="w-100" src="assets/img/portfolio/circus.png" alt="">
                       <p class=" my-5 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil,
                        molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                      </div>
                    </div>
                    </div>
                    <div class="modal-footer d-flex align-items-center justify-content-center">
                      <button type="button" class="btn btn-primary1" data-bs-dismiss="modal">
                        <i class="fas fa-times fa-fw"></i>
                        Close Window
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              </div>

          </div>
          <!-- Portfolio Item 4-->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
              <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white">
                        <i class="fas fa-plus fa-3x"></i></div>
                      </div>
                  <img class="img-fluid" src="assets/img/portfolio/game.png" alt="">
              </div>

                          <!-- module -->
                          <div class="modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close " data-bs-dismiss="modal" aria-label="Close">
                                    <i class="fas fa-times"></i>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div class="container d-flex justify-content-center align-items-center flex-column ">
                                    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">CONTROLLER</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line me-3"></div>
                                        <i class="fa-solid fa-star divider-custom-icon"></i>
                                        <div class="divider-custom-line ms-3"></div>
                                    </div>
                                    <div class="w-80  d-flex align-items-center justify-content-center">
                                  <div class="portfolio-item-caption h-100 w-75">
                                   <img class="w-100" src="assets/img/portfolio/game.png" alt="">
                                   <p class=" my-5 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil,
                                    molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                  </div>
                                </div>
                                </div>
                                <div class="modal-footer d-flex align-items-center justify-content-center">
                                  <button type="button" class="btn btn-primary1" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          </div>
          </div>
          <!-- Portfolio Item 5-->
          <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
              <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white">
                        <i class="fas fa-plus fa-3x"></i></div>
                      </div>
                  <img class="img-fluid" src="assets/img/portfolio/safe.png" alt="">
              </div>
                          <!-- module -->
                          <div class="modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close " data-bs-dismiss="modal" aria-label="Close">
                                    <i class="fas fa-times"></i>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div class="container d-flex justify-content-center align-items-center flex-column ">
                                    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">LOCKED SAFE</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line me-3"></div>
                                        <i class="fa-solid fa-star divider-custom-icon"></i>
                                        <div class="divider-custom-line ms-3"></div>
                                    </div>
                                    <div class="w-80  d-flex align-items-center justify-content-center">
                                  <div class="portfolio-item-caption h-100 w-75">
                                   <img class="w-100" src="assets/img/portfolio/safe.png" alt="">
                                   <p class=" my-5 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil,
                                    molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                  </div>
                                </div>
                                </div>
                                <div class="modal-footer d-flex align-items-center justify-content-center">
                                  <button type="button" class="btn btn-primary1" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          </div>
          </div>
          <!-- Portfolio Item 6-->
          <div class="col-md-6 col-lg-4">
              <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white">
                        <i class="fas fa-plus fa-3x"></i></div>
                      </div>
                  <img class="img-fluid" src="assets/img/portfolio/submarine.png" alt="">
              </div>
                          <!-- module -->
                          <div class="modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close " data-bs-dismiss="modal" aria-label="Close">
                                    <i class="fas fa-times"></i>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div class="container d-flex justify-content-center align-items-center flex-column ">
                                    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">SUBMARINE</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line me-3"></div>
                                        <i class="fa-solid fa-star divider-custom-icon"></i>
                                        <div class="divider-custom-line ms-3"></div>
                                    </div>
                                    <div class="w-80  d-flex align-items-center justify-content-center">
                                  <div class="portfolio-item-caption h-100 w-75">
                                   <img class="w-100" src="assets/img/portfolio/submarine.png" alt="">
                                   <p class=" my-5 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil,
                                    molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                  </div>
                                </div>
                                </div>
                                <div class="modal-footer d-flex align-items-center justify-content-center">
                                  <button type="button" class="btn btn-primary1" data-bs-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          </div>
          </div>
      </div>
  </div>
</section>
