.page-section {
  padding: 6rem 0;
}
@media (min-width: 992px){
.page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
}
}
.page-section .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
}
.text-secondary , .starline{
    color: #2c3e50 !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}
.text-center {
    text-align: center !important;
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
}

.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}
.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
}
@media (min-width: 576px){
.modal-dialog {
    max-width: 85%;
    margin: 1.75rem auto;
}
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
  cursor: pointer;
}
.btn-primary1 {
  color: #fff;
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.close {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1rem;
  font-size: 3rem;
  line-height: 3rem;
  color: #1abc9c;
  opacity: 1;
}
button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
  cursor: pointer;
}
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}
.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 0px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 0px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}
.w-80
{
  width: 80%;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  /* border: 1px solid rgba(0,0,0,.2); */
  border-radius: 1rem;
  outline: 0;
}
img, svg {
  vertical-align: middle;
  border-radius: 1rem;
}

